<header class="header" data-header>
    <div class="container">

        <a href="/home" class="logo">
            <ion-icon name="business-outline"></ion-icon> BYDH
        </a>
        <a href="/new" class="btn btn-secondary">list your property</a>
        <nav class="navbar container" data-navbar>
            <ul class="navbar-list">

                <li>
                    <a href="/home" class="navbar-link" data-nav-link>Home</a>
                </li>

              

                <li>
                    <a href="/listings" class="navbar-link" data-nav-link>Listings</a>
                </li>

                <li>
                    <a href="/about" class="navbar-link" data-nav-link>About Us</a>
                </li>   
                <li>
                    <a href="/profile" class="navbar-link" data-nav-link>Profile</a>
                </li>   

                
                
                <li>
                    <a href="/logout" class="btn btn-secondary">logout</a>
                </li>   

               

                

            </ul>
        </nav>

       

        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true" class="menu-icon"></ion-icon>
            <ion-icon name="close-outline" aria-hidden="true" class="close-icon"></ion-icon>
        </button>

    </div>
</header>