<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYDH - Build your Dream home</title>

    <!-- 
    - favicon
  -->

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="../public/assets/css/style.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body id="top">

    <!-- 
    - #HEADER
  -->
  <%- include('./partials/navbar')%>


            <section class="section about" aria-label="about" style="padding-top: 100px;">
                <div class="container">

                    <div class="about-banner img-holder" style="--width: 600; --height: 700;">
                        <img src="./assets/images/about-banner.jpg" width="600" height="700"  loading="lazy"
                            alt="about banner" class="img-cover" >

                        <button class="play-btn" aria-label="play video">
                            <ion-icon name="play" aria-hidden="true"></ion-icon>
                        </button>
                    </div>

                    <div class="about-content">

                        <h2 class="h2 section-title">Efficiency. Transparency. Control.</h2>

                        <p class="section-text">
                            Hously developed a platform for the Real Estate marketplace that allows buyers and sellers
                            to easily
                            execute a
                            transaction on their own. The platform drives efficiency, cost transparency and control into
                            the hands of
                            the consumers.
                            Hously is Real Estate Redefined.
                        </p>

                        <a href="#" class="btn btn-primary">Learn More</a>

                    </div>

                </div>
            </section>

            <section class="section service" aria-label="service">
                <div class="container">

                    <h2 class="h2 section-title">How It Works</h2>

                    <p class="section-text">
                        A great plateform to buy, sell and rent your properties without any agent or commisions.
                    </p>

                    <ul class="service-list">

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <ion-icon name="home-outline"></ion-icon>
                                </div>

                                <h3 class="h3 card-title">Evaluate Property</h3>

                                <p class="card-text">
                                    If the distribution of letters and 'words' is random, the reader will not be
                                    distracted from making.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <ion-icon name="briefcase-outline"></ion-icon>
                                </div>

                                <h3 class="h3 card-title">Meeting with Agent</h3>

                                <p class="card-text">
                                    If the distribution of letters and 'words' is random, the reader will not be
                                    distracted from making.
                                </p>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <ion-icon name="key"></ion-icon>
                                </div>

                                <h3 class="h3 card-title">Close the Deal</h3>

                                <p class="card-text">
                                    If the distribution of letters and 'words' is random, the reader will not be
                                    distracted from making.
                                </p>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>








            <!-- 
    - custom js link
  -->
            <script src="../public/assets/js/script.js" defer></script>

            <!-- 
    - ionicon link
  -->
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>