<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BYDH - Build your Dream home</title>

  <!-- 
    - favicon
  -->

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../public/assets/css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <%- include('../partials/navbar')%>






        <section class="section property" style="padding-top: 100px;" aria-label="property">
          <div class="container">



            <ul class="property-list">

              <li>
                <div class="property-card">

                  <figure class="card-banner img-holder" style="--width: 800; --height: 533;">
                    <img src="./assets/images/property-1.jpg" width="800" height="533" loading="lazy"
                      alt="10765 Hillshire Ave, Baton Rouge, LA 70810, USA" class="img-cover">
                  </figure>



                  <div class="card-content">

                    <h3 class="h3">
                      <a href="#" class="card-title">10765 Hillshire Ave, Baton Rouge, LA 70810, USA</a>
                    </h3>

                    <ul class="card-list">

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="cube-outline"></ion-icon>
                        </div>

                        <span class="item-text">8000sqf</span>
                      </li>

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="bed-outline"></ion-icon>
                        </div>

                        <span class="item-text">4 Beds</span>
                      </li>

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="man-outline"></ion-icon>
                        </div>

                        <span class="item-text">4 Baths</span>
                      </li>

                    </ul>

                    <div class="card-meta">

                      <div>
                        <span class="meta-title">Price</span>

                        <span class="meta-text">Rs 5000</span>
                      </div>

                      <a href="#" class="btn btn-secondary">see more..</a>



                    </div>

                  </div>

                </div>
              </li>
              <li>
                <div class="property-card">

                  <figure class="card-banner img-holder" style="--width: 800; --height: 533;">
                    <img src="./assets/images/property-1.jpg" width="800" height="533" loading="lazy"
                      alt="10765 Hillshire Ave, Baton Rouge, LA 70810, USA" class="img-cover">
                  </figure>



                  <div class="card-content">

                    <h3 class="h3">
                      <a href="#" class="card-title">10765 Hillshire Ave, Baton Rouge, LA 70810, USA</a>
                    </h3>

                    <ul class="card-list">

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="cube-outline"></ion-icon>
                        </div>

                        <span class="item-text">8000sqf</span>
                      </li>

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="bed-outline"></ion-icon>
                        </div>

                        <span class="item-text">4 Beds</span>
                      </li>

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="man-outline"></ion-icon>
                        </div>

                        <span class="item-text">4 Baths</span>
                      </li>

                    </ul>

                    <div class="card-meta">

                      <div>
                        <span class="meta-title">Price</span>

                        <span class="meta-text">Rs 5000</span>
                      </div>

                      <a href="#" class="btn btn-secondary">see more..</a>



                    </div>

                  </div>

                </div>
              </li>
              <li>
                <div class="property-card">

                  <figure class="card-banner img-holder" style="--width: 800; --height: 533;">
                    <img src="./assets/images/property-1.jpg" width="800" height="533" loading="lazy"
                      alt="10765 Hillshire Ave, Baton Rouge, LA 70810, USA" class="img-cover">
                  </figure>



                  <div class="card-content">

                    <h3 class="h3">
                      <a href="#" class="card-title">10765 Hillshire Ave, Baton Rouge, LA 70810, USA</a>
                    </h3>

                    <ul class="card-list">

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="cube-outline"></ion-icon>
                        </div>

                        <span class="item-text">8000sqf</span>
                      </li>

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="bed-outline"></ion-icon>
                        </div>

                        <span class="item-text">4 Beds</span>
                      </li>

                      <li class="card-item">
                        <div class="item-icon">
                          <ion-icon name="man-outline"></ion-icon>
                        </div>

                        <span class="item-text">4 Baths</span>
                      </li>

                    </ul>

                    <div class="card-meta">

                      <div>
                        <span class="meta-title">Price</span>

                        <span class="meta-text">Rs 5000</span>
                      </div>

                      <a href="#" class="btn btn-secondary">see more..</a>



                    </div>

                  </div>

                </div>
              </li>



            </ul>

          </div>
        </section>







        <!-- 
    - custom js link
  -->
        <script src="../public/assets/js/script.js" defer></script>

        <!-- 
    - ionicon link
  -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>